on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  pull-requests: write
  actions: write
  contents: read

jobs:
  webpack-analyzer:
    runs-on: ubuntu-22.04
    steps:
      - name: yarn
        # You may pin to the exact commit or the version.
        # uses: bitovi/github-actions-react-to-github-pages@4cf343888989e21112bce7e59156242a0e1defb3
        uses: comchangs/action-yarn@v0.1-beta
